@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar for webkit-based browsers (e.g., Chrome, Safari) */
body {
  scrollbar-width: thin; /* Hide the scrollbar track */
}

body::-webkit-scrollbar {
  width: 0rem; /* Set the width of the scrollbar track to make it thin */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb of the scrollbar */
}

.path-element:hover {
  opacity: 0.5;
}

#root {
  min-height: 100vh;
}

.slider {
  /* padding: 0px 5px; */
  height: 14px;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
}

/* Styles for the slider thumb */
.slider .thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #007bff;
  cursor: grab;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Styles for the slider active state */
.slider .thumb.active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.track.track-1 {
  height: 3px;
  background-color: #007bff;
}
